$border-color: #cfd0d3;

.channels {
    border-right: 1px solid $border-color;

    &__heading {
        width: 100%;
        height: 60px;
        flex-shrink: 0;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f7f7f7;
        font-size: 30px;
    }
}

.channels-list {
    background-color: #f7f7f7;
    list-style-type: none;
    padding-bottom: 5;
    border-top: 1px solid $border-color;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-transform: uppercase;

    font-size: 20px;

    &__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px;
        background-color: #f7f7f7;
        border-bottom: 1px solid $border-color;

        &--active {
            background-color: #f0c616;
        }
    }

    &__dropdown {
        position: relative;
        width: 30px;

        &__menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #f7f7f7;
            border: 1px solid #282c34;
            border-radius: 10px;
            padding: 5px 10px;

            button {
                text-align: left;
            }
        }
    }
}

.channels-modal {
    &__header {
        color: #282c34;
    }

    &__cancel {
        background-color: #282c34;
        color: #f7f7f7;
        border: none;
    }

    &__submit {
        background-color: #87f805;
        margin-left: 10px;
        color: #282c34;
        border: none;
    }

    &__submit:hover {
        background-color: #c3f788 !important;
        color: #282c34 !important;
    }
}

.delete-modal {

    &__header {
        border: none !important;
    }

    &__submit {
        background-color: #87f805;
        margin-left: 10px;
        color: #282c34;
        border: none;
    }

    &__submit:hover {
        background-color: #c3f788 !important;
        color: #282c34 !important;
    }

    &__cancel {
        background-color: #282c34;
        color: #f7f7f7;
        border: none;
    }
}

.edit-modal {

    &__header {
        border: none !important;
    }

    &__body {

        input {
            margin-bottom: 30px;
        }

    }

    &__input {
        background-color: #cd42a6;
        margin-right: 10px;
        color: #282c34;
        margin-bottom: 30px;
    }

    &__submit {
        background-color: #87f805;
        margin-left: 10px;
        color: #282c34;
        border: none;
    }

    &__submit:hover {
        background-color: #c3f788 !important;
        color: #282c34 !important;
    }

    &__cancel {
        background-color: #282c34;
        color: #f7f7f7;
        border: none;
    }
}