.signup-form {
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-family: Copperplate, fantasy !important;
    width: 500px;
    height: 600px;
}

.signup-h2 {
    padding-bottom: 20px;
}

.signup-submit {
    margin-top: 20px;
    background-color: rgb(230, 87, 151) !important;
    border-color: rgb(230, 87, 151) !important;

}

.container-felix-logo {
    position: absolute;
    top: 10px; left: 10px;
  }
  
.felix-logo {
    opacity: 80%;
    width: 150px;
  }